<h1> Nouveau bug ! </h1>
<hr>
<h3>[{{help.statut}}] {{help.title}}</h3>
<p>{{help.description}}</p>
<p>Créer par : {{help.userId}}</p>
<a href="{{url('help_show', {'id': help.id})}}">
	<button>Regarder la demande</button>
</a>