{% extends 'base.html.twig' %}

{% set title = help.title %}
{% block header %}
    <a href="{{ path('help_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th># :</th>
                <td>{{ help.id }}</td>
            </tr>
            <tr>
                <th>Créer par :</th>
                <td>{{ help.userId }}</td>
            </tr>
            <tr>
                <th>Statut :</th>
                <td>{{ help.statut }}</td>
            </tr>
            <tr>
                <th>Titre :</th>
                <td>{{ help.title }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ help.description }}</td>
            </tr>
            <tr>
                <th>Créer le :</th>
                <td>{{ help.createdAt ? help.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier le :</th>
                <td>{{ help.updatedAt ? help.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col mt-4">
        <div class="row">
            <a href="{{ path('help_edit', {'id': help.id}) }}" class="btn btn-warning">Fermer le ticket</a>
            {{ include('help/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
