{% extends 'base.html.twig' %}

{% set title = ticket.title %}
{% block header %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#participantsModal">
        Les participants
    </button>
    <a href="{{ path('ticket_show', {'global': app.session.get('global'), 'id': ticket.id}) }}" class="btn btn-primary">Retour</a>
    <div class="row justify-content-start">
{% endblock %}
{% block body %}
    <div class="row px-lg-2 px-2">
        <div class="col pl-md-3 px-lg-auto px-0">
            <div class="chat-message">
                <ul class="list-unstyled chat" style="max-height: 400px; overflow: scroll;" id="listChat" data-user="{{app.user.id}}">
                    {% for message in messages %}
                        <li class="d-flex mb-4 {{message.fromUser == app.user ? 'justify-content-end text-right' : 'justify-content-start text-left'}}">
                            <div class="col-md-6 chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 z-depth-1">
                                <strong class="primary-font">
                                    {{message.fromUser == app.user ? 'Moi' : message.fromUser}}
                                </strong>
                                <small class="pull-right text-muted"><i class="far fa-clock"></i> <small class="ml-2">{{message.createdAt ? message.createdAt|date('d-m-Y H:i:s') : ''}}</small></small>
                            </div>
                            <p class="mb-0">
                                {{message.content}}
                            </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {{ include('ticket/messages/_form.html.twig') }}
            </div>
        </div>  
    </div>
    {{ include('ticket/participants.html.twig', {'method': 'read'}) }}
{% endblock %}
{% block javascripts %}
    <script>
    const form = document.getElementById('ticket_message_form');
    const listChat = document.getElementById('listChat');
    const scrollDown = () => listChat.scrollTop = listChat.scrollHeight;
    scrollDown();

const eventSource = new EventSource("{{ mercure('ticket_message')|escape('js') }}");

form.addEventListener('submit', e => {
  e.preventDefault();
  const message = document.getElementById('ticket_message_content').value;
  fetch('', {
    method: 'POST',
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify({
        'message': message,
    })
  }).then(res => res.json())
  .then(data => {
    document.getElementById('ticket_message_content').value = "";
  })

})

eventSource.onmessage = event => {
  // Will be called every time an update is published by the server
  console.log(JSON.parse(event.data));
  addMessage(JSON.parse(event.data));
}

const addMessage = data => {
  const currentUser = listChat.dataset.user;
  const li = document.createElement('li');
  li.classList.add(...['d-flex', 'mb-4', `${data.from_user.id == currentUser ? 'justify-content-end' : 'justify-content-start'}`, `${data.from_user.id == currentUser ? 'text-right' : 'text-left'}`])
  const col = document.createElement('div');
  col.classList.add(...['col-md-6', 'chat-body', 'white', 'p-3', 'ml-2', 'z-depth-1']);
  const header = document.createElement('header');
  header.classList.add('header');
  const img = document.createElement('img');
  img.src = 'https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg';
  img.classList.add(...['avatar', 'rounded-circle', 'mr-2', 'z-depth-1']);
  img.alt = 'Avatar';
  const strong = document.createElement('strong');
  strong.classList.add('primary-front');
  strong.innerHTML = data.from_user.id == currentUser ? 'Moi' : data.from_user.username;
  const small = document.createElement('small');
  small.classList.add(...['pull-right', 'text-muted'])
  const i = document.createElement('i');
  i.classList.add(...['far', 'fa-clock']);
  const date = document.createElement('small');
  date.classList.add(...['ml-2'])
  date.innerHTML = data.created_at;
  const p = document.createElement('p');
  p.classList.add('mb-0');
  p.innerHTML = data.message;
  li.append(col);
  col.append(header);
  header.append(img);
  header.append(strong);
  header.append(small);
  small.append(i);
  small.append(date);
  col.append(p);
  listChat.append(li);
  scrollDown();
}
    </script>
{% endblock %}