{% extends 'base.html.twig' %}

{% set title = ticket.title %}
{% block header %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#participantsModal">
        Les participants
    </button>
    <a href="{{ path('ticket_show', {'global': app.session.get('global'), 'id': ticket.id}) }}" class="btn btn-primary">Retour</a>
    <div class="row justify-content-start">
{% endblock %}
{% block body %}
    <div class="row px-lg-2 px-2">
        <div class="col pl-md-3 px-lg-auto px-0">
            <div class="chat-message">
                <ul class="list-unstyled chat" id="listChat" data-username="{{app.user.username}}">
                    {% for message in messages %}
                        <li class="d-flex mb-4 {{message.fromUser == app.user ? 'justify-content-end text-right' : 'justify-content-start text-left'}}">
                            <div class="col-md-6 chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 z-depth-1">
                                <strong class="primary-font">
                                    {{message.fromUser == app.user ? 'Moi' : message.fromUser}}
                                </strong>
                                <small class="pull-right text-muted"><i class="far fa-clock"></i> <small class="ml-2">{{message.createdAt ? message.createdAt|date('d-m-Y H:i:s') : ''}}</small></small>
                            </div>
                            <p class="mb-0">
                                {{message.content}}
                            </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {{ include('ticket/messages/_form.html.twig') }}
            </div>
        </div>  
    </div>
    {{ include('ticket/participants.html.twig', {'method': 'read'}) }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('ticket_message') }}
{% endblock %}