{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}
{% set title = ticket.title %}
{% block header %}
     <a href="{{ path('ticket_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}
    <div class="row px-lg-2 px-2">
        <div class="col pl-md-3 px-lg-auto px-0">
            <div class="chat-message">
                <ul class="list-unstyled chat">
                    {% for message in messages %}
                        <li class="d-flex mb-4 {{message.fromUser == app.user ? 'justify-content-end text-right' : 'justify-content-start text-left'}}">
                            <div class="col-md-6 chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 z-depth-1">
                                <strong class="primary-font">
                                    {{message.fromUser == app.user ? 'Moi' : message.fromUser}}
                                </strong>
                                <small class="pull-right text-muted"><i class="far fa-clock"></i> {{message.createdAt ? message.createdAt|date('d-m-Y H:i:s') : ''}}</small>
                            </div>
                            <p class="mb-0">
                                {{message.content}}
                            </p>
                            </div>
                        </li>
                    {% endfor %}
                    {{ include('ticket/messages/_form.html.twig') }}
                </ul>
            </div>
        </div>  
    </div>
{% endblock %}
