{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if fields %}
        <div id="programDate"></div>
        <h4>Légende des champs :</h4>
        <ul id="legendFieldList">
            {% for key, field in complementsFields %}
                {% if key|split(',')|length > 1 %}
                    <li id="{{key|split(',')[0]}}">
                        {{'{' ~ key|split(',')[0] ~ '}'}} : {{field}}
                    </li>
                {% else %}
                    <li id="{{key}}">
                        {{'{' ~ key ~ '}'}} : {{field}}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}