{% extends 'base.html.twig' %}

{% block title %}SmsAuto index{% endblock %}

{% block body %}
    <h1>SmsAuto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Step</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sms_auto in sms_autos %}
            <tr>
                <td>{{ sms_auto.id }}</td>
                <td>{{ sms_auto.content }}</td>
                <td>{{ sms_auto.createdAt ? sms_auto.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sms_auto.updatedAt ? sms_auto.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sms_auto.step }}</td>
                <td>
                    <a href="{{ path('sms_auto_show', {'id': sms_auto.id}) }}">show</a>
                    <a href="{{ path('sms_auto_edit', {'id': sms_auto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sms_auto_new') }}">Create new</a>
{% endblock %}
