{% extends 'base.html.twig' %}

{% set title = "Message automatique" %}
{% block header %}
    <a href="{{ path('sms_auto_index', {'global': app.session.get('global')}) }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th># :</th>
                <td>{{ sms_auto.id }}</td>
            </tr>
            <tr>
                <th>Message :</th>
                <td>{{ sms_auto.content }}</td>
            </tr>
            <tr>
                <th>Créer le :</th>
                <td>{{ sms_auto.createdAt ? sms_auto.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier le :</th>
                <td>{{ sms_auto.updatedAt ? sms_auto.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col mt-4">
        <div class="row">
            {{ include('sms_auto/_delete_form.html.twig') }}
            <a href="{{ path('sms_auto_edit', {'global': app.session.get('global'), 'id': sms_auto.id}) }}" class="btn btn-primary">Modifier</a>
        </div>
    </div>

{% endblock %}
