<h1> Nouveau bug ! </h1>
<h3>[{{ticket.statut}}] {{ticket.title}}</h3>
<p>{{ticket.description}}</p>
<p>Créer par : {{ticket.creator}}</p>
<a href="{{url('ticket_show', {'global': app.session.get('global'), 'id': ticket.id})}}">
	<button>Regarder la demande</button>
</a>