<h1> Nouveau bug ! </h1>
<hr>
<h3>[{{ticket.statut}}] {{ticket.title}}</h3>
<p>{{ticket.description}}</p>
<p>Créer par : {{ticket.creator}}</p>
<a href="{{url('ticket_show', {'id': ticket.id})}}">
	<button>Regarder la demande</button>
</a>