{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}
{% set title = ticket.title %}
{% block header %}
    <div class="row justify-content-end">        
        <a href="{{ path('ticket_message_index', {'global': app.session.get('global'), 'id': ticket.id}) }}" class="btn btn-primary">Lire les messages</a>
        <a href="{{ path('ticket_index', {'global': app.session.get('global')})}}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
{% block body %}

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ ticket.id }}</td>
            </tr>
             <tr>
                <th>Créer par :</th>
                <td>{{ ticket.creator == app.user ? 'Moi' : ticket.creator }}</td>
            </tr>
            <tr>
                <th>Fiche client :</th>
                <td>{{ ticket.customerFile }}</td>
            </tr>
            <tr>
                <th>Titre :</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ ticket.description }}</td>
            </tr>
            <tr>
                <th>Créer le :</th>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier le :</th>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Les participants :</th>
                <td>{{ticket.users ? ticket.users|join(' -- ')}}</td>
            </tr>
        </tbody>
    </table>

    <div class="col mt-4">
        <div class="row">
            {% if is_granted('ROLE_ADMIN') or app.user == ticket.creator %}
                <a href="{{ path('ticket_edit', {'global': app.session.get('global'), 'id': ticket.id}) }}" class="btn btn-primary">Modifier</a>
            {% endif %}
        
            {% if is_granted('ROLE_ADMIN') %}
                {# <a href="{{ path('ticket_users', {'global': app.session.get('global'), 'id': ticket.id}) }}" class="btn btn-primary">Modifier les participants</a> #}

                {{ include('ticket/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
