{% extends 'base.html.twig' %}

{% block title %}Gérer les statuts{% endblock %}
{% set title = "Les statuts" %}
{% set datatable = true %}
{% block header %}
    <a href="{{ path('customer_files_statut_new') }}" class="btn btn-primary">Créer un statut</a>
{% endblock %}
{% block body %}

    <table id="statutTable" class="table w-100 dt-table responsive display nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>Créer le</th>
                <th width=10%>actions</th>
            </tr>
        </thead>
        <tbody class="list">
        {% for customer_files_statut in customer_files_statuts %}
            <tr>
                <td>{{ customer_files_statut.id }}</td>
                <td>{{ customer_files_statut.name }}</td>
                <td><span class="badge" style="background-color: {{ customer_files_statut.color }}">{{ customer_files_statut.color }}</span></td>
                <td>{{ customer_files_statut.createdAt ? customer_files_statut.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('customer_files_statut_show', {'id': customer_files_statut.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('customer_files_statut_edit', {'id': customer_files_statut.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}