{{ form_start(form) }}
    <div class="row">
        {{form_row(form.customer_source)}}
        {{form_row(form.installer)}}
    </div>
    <div class="row">
        {{form_row(form.acompte)}}
        {{form_row(form.solde)}}
    </div>
    <div class="row">
        {{form_row(form.invoice_number)}}
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du client</span> :</h1>
    <div class="row">
        {{form_row(form.sexe)}}
    </div>
    <div class="row">
        {{form_row(form.name)}}
    </div>
    <div class="row">
        {{form_row(form.cellphone)}}
        {{form_row(form.home_phone)}}
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form_control_label" for="autocomplete">Entrer une adresse :</label>
            <input type="text" class="form-control" id="autocomplete">
        </div>
        {{form_row(form.address_complement)}}
        {{form_row(form.lat, {id: 'lat'})}}
        {{form_row(form.lng, {id: 'lng'})}}
    </div>
    <div class="row">
        {{form_row(form.route_number, {id : 'street_number'})}}
        {{form_row(form.address, {id : 'route'})}}
    </div>
    <div class="row">
        {{form_row(form.city, {id: 'locality'})}}
        {{form_row(form.zip_code, {id: 'postal_code'})}}
    </div>
    <div class="row">
        {{form_row(form.state, {id: 'administrative_area_level_1'})}}
        {{form_row(form.country, {id: 'country'})}}
    </div>
    <div class="row">
        {{form_row(form.client_statut_id)}}
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du référent</span> :</h1>
    <div class="row">
        {{form_row(form.referent_name)}}
        {{form_row(form.referent_phone)}}
    </div>
    <div class="row">
        {{form_row(form.referent_statut)}}
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du produit</span> : </h1>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label" for="providers">Choisir un fournisseur :</label>
            <select class="form-control" id="providers">
                <option value="">Aucun fournisseur</option>
                {% for provider in providers %}
                    <option value="{{provider.id}}">{{provider.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group" id="providerParamsParent" style="display: none">
            <label class="form-control-label" for="providerParams">Les paramètres</label>
            <select class="form-control ui fluid dropdown" id="providerParams" multiple="true">
            </select>
        </div>
        {{form_row(form.product, {id: 'providerProducts'})}}
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du dossier</span> : </h1>
    <div class="row">
        {{form_row(form.customer_statut)}}
    </div>
    <div class="row">
        {{form_row(form.mail_al)}}
        {{form_row(form.password_al)}}
    </div>
    <div class="row">
        {{form_row(form.dossier_number)}}
    </div>
    <div class="row">
        {{form_row(form.stairs)}}
        {{form_row(form.annex_quote)}}
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations complémentaires</span>:</h1>
    <div class="row">
        {{form_row(form.description)}}
        {{form_row(form.commentary)}}
    </div>
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}