{% extends 'base.html.twig' %}

{% set title = "Modifier une fiche client :" %}
{% set require = true %}
{% block header %}
    <div class="row justify-content-end">
        <a id="back" href="{{app.session.get('statut') ? "/?statut=" ~ app.session.get('statut') : path('customer_files_show', {'id': customer_file.id, 'global': app.session.get('global')})}}" class="btn btn-primary">Retour</a>
        {{ include('customer_files/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block body %}
    {{ include('customer_files/_update_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('customer_files/_update_password.html.twig') }}
    {{ include('customer_files/_update_mail.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('customer_files/javascripts.html.twig') }}
    <script>
        if(sessionStorage.getItem('datatable') !== null){
            document.getElementById('back').href = `${document.getElementById('back').href}${sessionStorage.getItem('datatable')}`
        }    
    </script>
{% endblock %}
