{% extends 'base.html.twig' %}

{% block title %}CustomerFiles index{% endblock %}
{% set title = "Les fiches clients" %}
{% set datatable = true %}
{% block header %}
    {% if is_granted('ROLE_ALLOW_CREATE') %}
            <a class="btn btn-primary" href="{{url('customer_files_new')}}">Ajouter une fiche client</a>
    {% endif %}
{% endblock %}
{% block body %}
    <table id="customerTable" class="table w-100 dt-table responsive display nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Genre</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th width="5%">Actions</th>
            </tr>
        </thead>
        <tbody class="list">
        {% for customer_file in customer_files %}
            <tr>
                <td>{{ customer_file.id }}</td>
                <td>{{ customer_file.sexe }}</td>
                <td>{{ customer_file.name }}</td>
                <td>{{ customer_file.address }}</td>
                <td>
                    <a href="{{ path('customer_files_show', {'id': customer_file.id}) }}" class="btn btn-primary">Regarder</a>
                    <a href="{{ path('customer_files_edit', {'id': customer_file.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}