{% extends 'base.html.twig' %}

{% block title %}CustomerFiles index{% endblock %}
{% set title = "Les fiches clients" %}
{% set datatable = true %}
{% block header %}
    <div class="row justify-content-end">
        <div class="ui right pointing dropdown icon button" id="test" style="max-height: 100px">
            <span><i class="settings icon"></i>Filtrer par statut</span>
            <div class="menu">
                <div class="ui left search icon input">
                    <i class="search icon"></i>
                    <input type="text" name="search" placeholder="Rechercher un statut">
                </div>
                <div class="header">
                    <i class="tags icon"></i>
                    Les statuts
                </div>
                <a href="/" class="item">
                    <div class="ui red empty circular label"></div>
                    Tout regarder
                </a>
                {% for statut in statuts %}
                    <a href="?statut={{statut.id}}" class="item">
                        <div class="ui red empty circular label"></div>
                        {{statut.name}}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% if is_granted('ROLE_ALLOW_CREATE') %}
                <a class="btn btn-primary" href="{{url('customer_files_new')}}">Ajouter une fiche client</a>
        {% endif %}
    </div>
{% endblock %}
{% block body %}
    <table id="customerTable" class="table w-100 dt-table responsive display nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Genre</th>
                <th>Nom</th>
                <th>Téléphone portable</th>
                <th>Téléphone fixe</th>
                <th>Adresse</th>
                <th>Statut dossier</th>
                <th>Date d'expertise</th>
                <th>Mail AL</th>
                <th>Mot de passe AL</th>
                <th width="5%">Actions</th>
            </tr>
        </thead>
        <tbody class="list">
        {% for customer_file in customer_files %}
            <tr>
                <td>{{ customer_file.id }}</td>
                <td>{{ customer_file.sexe }}</td>
                <td>{{ customer_file.name }}</td>
                <td>{{ customer_file.cellphone }}</td>
                <td>{{ customer_file.homePhone }}</td>
                <td>{{ customer_file.address }}</td>
                <td>{{ customer_file.dateExpertise ? customer_file.dateExpertise|date('d-m-Y') : ''}}</td>
                <td>{{ customer_file.customerStatut }}</td>
                <td>{{ customer_file.mailAL }}</td>
                <td>{{ customer_file.passwordAl }}</td>
                <td>
                    <a href="{{ path('customer_files_show', {'id': customer_file.id}) }}" class="btn btn-primary">Regarder</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('customer_files_edit', {'id': customer_file.id}) }}" class="btn btn-primary">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block stylesheets %}
    <link href="{{asset('assets/js/plugins/semantic/semantic.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/plugins/semantic/semantic.js')}}"></script>
    <script>$('#test').dropdown()</script>
{% endblock %}