{% extends 'base.html.twig' %}

{% set title = customer_file.name %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('files_index', {'id': customer_file.id}) }}" class="btn btn-primary">Les documents</a>
        <a href="/{{app.session.get('statut') ? "?statut=" ~ app.session.get('statut') : ''}}" class="btn btn-primary" id="back">Retour</a>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Date de création :</label>
            <p class="form-control">{{customer_file.createdAt ? customer_file.createdAt|date('d-m-Y H:i:s') : '' }}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Créer par :</label>
            <p class="form-control">{{customer_file.createdBy }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">La source :</label>
            <p class="form-control">{{customer_file.customerSource ?? 'Aucune source'}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Installateur :</label>
            <p class="form-control">{{customer_file.installer ?? 'Aucun installateur'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Acompte :</label>
            <p class="form-control">{{customer_file.acompte ? customer_file.acompte|date('d-m-Y') : 'Aucun acompte'}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Solde :</label>
            <p class="form-control">{{customer_file.solde ? customer_file.solde|date('d-m-Y') : 'Aucun solde'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Numéro de facture :</label>
            <p class="form-control">{{customer_file.invoiceNumber ?? 'Aucun numéro de facture'}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Date de métrage :</label>
            <p class="form-control">{{customer_file.dateFootage ? customer_file.dateFootage|date('d-m-Y H:i:s'): 'Aucune date'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Métreur :</label>
            <p class="form-control">{{customer_file.metreur ?? 'Aucun métreur'}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Envoie de message :</label>
            <p class="form-control">{{customer_file.message ? 'Oui' : 'Non'}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du client</span> :</h1>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Sexe :</label>
            <p class="form-control">{{customer_file.sexe}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Nom complet :</label>
            <p class="form-control">{{customer_file.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Téléphone portable :</label>
            <p class="form-control">{{customer_file.cellphone}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Téléphone fixe :</label>
            <p class="form-control">{{customer_file.homePhone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group">
            <label class="form-control-label">N° :</label>
            <p class="form-control">{{customer_file.routeNumber}}</p>
        </div>
        <div class="col form-group">
            <label class="form-control-label">Adresse :</label>
            <p class="form-control">{{customer_file.address}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Ville :</label>
            <p class="form-control">{{customer_file.city}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Code postal :</label>
            <p class="form-control">{{customer_file.zipCode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Etat :</label>
            <p class="form-control">{{customer_file.state}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Pays :</label>
            <p class="form-control">{{customer_file.country}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Complément d'adresse :</label>
            <p class="form-control">{{customer_file.addressComplement}}</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Statut du client :</label>
            <p class="form-control">{{customer_file.clientStatutId ?? 'Aucun statut client'}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du référent</span> :</h1>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Nom complet :</label>
            <p class="form-control">{{customer_file.referentName}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Téléphone :</label>
            <p class="form-control">{{customer_file.referentPhone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Etat matrimonial :</label>
            <p class="form-control">{{customer_file.referentStatut}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du produit</span> : </h1>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Date de commande de matériel :</label>
            <p class="form-control">{{customer_file.dateCmdMateriel ? customer_file.dateCmdMateriel|date('d-m-Y') : ''}}</p>
        </div>
        <div class="col form-group">
            <label class="form-control-label">Date d'installation :</label>
            <p class="form-control">{{customer_file.dateInstall ? customer_file.dateInstall|date('d-m-Y') : ''}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Produit :</label>
            <p class="form-control">{{customer_file.product ?? 'Aucun produit'}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du dossier</span> : </h1>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Date d'expertise :</label>
            <p class="form-control">{{customer_file.dateExpertise ? customer_file.dateExpertise|date('d-m-Y') : ''}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Date de dépot</label>
            <p class="form-control">{{customer_file.dateDepot ? customer_file.dateDepot|date('d-m-Y') : ''}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Statut du dossier :</label>
            <p class="form-control">{{customer_file.customerStatut ?? 'Aucun statut de dossier'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Mail AL :</label>
            <div class="row form-control justify-content-between ml-0">
                <span id="mailAl">{{customer_file.mailAL}}</span>
                <button type="button" class="btn btn-sm btn-primary" data-clipboard-target="#mailAl">Copier</button>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Mot de passe AL :</label>
            <div class="row form-control justify-content-between ml-0">
                <span id="pwdAl">{{customer_file.passwordAl}}</span>
                <button type="button" class="btn btn-sm btn-primary" data-clipboard-target="#pwdAl">Copier</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Numero de dossier :</label>
            <p class="form-control">{{customer_file.dossierNumber ?? 'Aucun numéro de dossier'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Escalier :</label>
            <p class="form-control">{{customer_file.stairs ? 'Oui' : 'Non'}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Devis annexe :</label>
            <p class="form-control">{{customer_file.annexQuote ? 'Oui' : 'Non'}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations complémentaires</span>:</h1>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Description :</label>
            <textarea readonly class="form-control autosize">{{customer_file.description}}</textarea>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Commentaire :</label>
            <textarea readonly class="form-control autosize">{{customer_file.commentary}}</textarea>
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="col mt-4">
            <div class="row">
                <a href="{{ path('customer_files_edit', {'id': customer_file.id}) }}" class="btn btn-primary">Modifier</a>

                {{ include('customer_files/_delete_form.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>new ClipboardJS('.btn')</script>
    <script>
        if(sessionStorage.getItem('datatable') !== null){
            document.getElementById('back').href = `${document.getElementById('back').href}${sessionStorage.getItem('datatable')}`
        }
    </script>
{% endblock %}
