{% extends 'base.html.twig' %}

{% block title %}CustomerFiles{% endblock %}
{% set title = customer_file.name %}
{% block header %}
    <div class="row justify-content-end">
        <a href="{{ path('files_index', {'id': customer_file.id}) }}" class="btn btn-primary">Les documents</a>
        <a href="{{ path('default') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">La source :</label>
            <p class="form-control">{{customer_file.customerSource ?? 'Aucune source'}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Installateur :</label>
            <p class="form-control">{{customer_file.installer ?? 'Aucun installateur'}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du client</span> :</h1>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Sexe :</label>
            <p class="form-control">{{customer_file.sexe}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Nom complet :</label>
            <p class="form-control">{{customer_file.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Téléphone portable :</label>
            <p class="form-control">{{customer_file.cellphone}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Téléphone fixe :</label>
            <p class="form-control">{{customer_file.homePhone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group">
            <label class="form-control-label">N° :</label>
            <p class="form-control">{{customer_file.routeNumber}}</p>
        </div>
        <div class="col form-group">
            <label class="form-control-label">Adresse :</label>
            <p class="form-control">{{customer_file.address}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Ville :</label>
            <p class="form-control">{{customer_file.city}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Adresse :</label>
            <p class="form-control">{{customer_file.zipCode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Etat :</label>
            <p class="form-control">{{customer_file.state}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Pays :</label>
            <p class="form-control">{{customer_file.country}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Statut du client :</label>
            <p class="form-control">{{customer_file.clientStatutId ?? 'Aucun statut client'}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du référent</span> :</h1>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Nom complet :</label>
            <p class="form-control">{{customer_file.referentName}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Téléphone :</label>
            <p class="form-control">{{customer_file.referentPhone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Etat matrimonial :</label>
            <p class="form-control">{{customer_file.referentStatut}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du produit</span> : </h1>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Produit :</label>
            <p class="form-control">{{customer_file.product}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations du dossier</span> : </h1>
    <div class="row">
        <div class="col form-group">
            <label class="form-control-label">Statut du dossier :</label>
            <p class="form-control">{{customer_file.customerStatut ?? 'Aucun statut de dossier'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Mail AL :</label>
            <div class="row form-control justify-content-between ml-0">
                <span id="mailAl">{{customer_file.mailAL}}</span>
                <button type="button" class="btn btn-sm btn-primary" data-clipboard-target="#mailAl">Copier</button>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Mot de passe AL :</label>
            <div class="row form-control justify-content-between ml-0">
                <span id="pwdAl">{{customer_file.passwordAl}}</span>
                <button type="button" class="btn btn-sm btn-primary" data-clipboard-target="#pwdAl">Copier</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Escalier :</label>
            <p class="form-control">{{customer_file.stairs ? 'Oui' : 'Non'}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Devis annexe :</label>
            <p class="form-control">{{customer_file.annexQuote ? 'Oui' : 'Non'}}</p>
        </div>
    </div>
    <hr class="mt-2">
    <h1 class="mb-4"><span class="text-underline">Informations complémentaires</span>:</h1>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-control-label">Description :</label>
            <p class="form-control">{{customer_file.description}}</p>
        </div>
        <div class="col-md-6 form-group">
            <label class="form-control-label">Commentaire :</label>
            <p class="form-control">{{customer_file.commentary}}</p>
        </div>
    </div>
    <div class="col mt-4">
        <div class="row">
            <a href="{{ path('customer_files_edit', {'id': customer_file.id}) }}" class="btn btn-primary">Modifier</a>

            {{ include('customer_files/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>new ClipboardJS('.btn')</script>
{% endblock %}
