{% extends 'base.html.twig' %}

{% block title %}ClientStatut index{% endblock %}
{% set title = "Gérer les statuts clients" %}
{% set datatable = true %}
{% block header %}
     <a href="{{ path('client_statut_new') }}" class="btn btn-primary">Ajouter un statut client</a>
{% endblock %}
{% block body %}
    <table id="statutClientTable" class="table w-100 dt-table responsive display nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Créer le</th>
                <th width=5%>Actions</th>
            </tr>
        </thead>
        <tbody class="list">
        {% for client_statut in client_statuts %}
            <tr>
                <td>{{ client_statut.id }}</td>
                <td>{{ client_statut.name }}</td>
                <td>{{ client_statut.createdAt ? client_statut.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('client_statut_show', {'id': client_statut.id}) }}" class="btn btn-primary">Regarder</a>
                    <a href="{{ path('client_statut_edit', {'id': client_statut.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
